.columnHeader {
	border: 1px dotted blue;
	padding: 0 .5em .5em .5em;
	text-align: center;
	
	// Align title at top and points at bottom
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	h2 {
		font-size: 1.2em;
		margin: .2em 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
